				<table class="treasure-table">
					<!-- ROW 1: MATERIAL-->
					<tr>
						<th>
							<img src="{% static 'img/material-icon.png' %}" /> Material:
						</th>
						<td>
							{{ treasure.material }}
						</td>
					</tr>
					<!-- ROW 2: VALUE-->
					<tr>
						<th>
							<img src="{% static 'img/value-icon.png' %}" /> Value:
						</th>
						<td>
							{% if treasure.value > 0 %}
								<p>{{ treasure.value }}</p>
							{% else %}
								<p>Unknown</p>
							{% endif %}
						</td>
					</tr>
					<!-- ROW 3: LOCATION-->
					<tr>
						<th>
							<img src="{% static 'img/location-icon.png' %}" /> Location:
						</th>
						<td>
							{{ treasure.location }}
						</td>
					</tr>
				</table>