{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>TreasureGram</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
</head>

<body>
	<nav class="navbar navbar-default navbar-static-top text-center">
		<a href="/">
			<img src="{% static 'img/logo.png' %}" alt="TreasureGram" />
		</a>
	</nav>
	<main class="container" role="main">
		<div class="treasure panel panel-default">
		{% for treasure in treasures %}
		
			<div class="panel-heading">
				<h2 class="panel-title">{{ treasure.name }}<h2>
			</div>

			<div class="panel-body">
				{{ treasure.material }}
				{% if treasure.value > 0 %}
					<p>{{ treasure.value }}</p>
				{% else %}
					<p>Unknown</p>
				{% endif %}
			</div>

		{% endfor %}
		</div>
	</main>
</body>

</html>